<div class="container">
    <div class="row" ng-if="state.includes('root.teamMember')">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h3><b>Name:</b> {{member.name}}</h3>
            </div>
            <div class="col-md-6 text-left">
                <h3><b>Balance:</b> {{member.value}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3><b>Total Activities:</b> {{member.total_activities}}</h3>
            </div>
            <div class="col-md-6 text-left">
                <h3><b>Completed Activities:</b> {{member.completed_activities}}</h3>
            </div>
        </div>
        </div>
        <hr style="height:1px;border:none;color:#333;background-color:#333;" />
    </div>
    <div class="row">
        <h2>Activities</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Reward</th>
                    <th ng-if="state.includes('root.user')">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities | orderBy:'-date'">
                    <td>
                    <a data-toggle="modal" data-target="#myModal{{activity.id}}">{{activity.name}}</a>
                     
                     <div class="modal fade" id="myModal{{activity.id}}" role="dialog">
                         <div class="modal-dialog">
                         
                           <div class="modal-content">
                             <div class="modal-header">
                               <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <div  class="modal-title">
                               <h4><b>Activity: </b>{{activity.name}}</h4>
                                <h4><b>Reward: </b>{{activity.value}}</h4>
                              </div>
                             </div>
                             <div class="modal-body">
                              <b>Activity Description:</b><br/><br/>
                              <p>{{activity.description}}</p>
                             </div>
                             <div class="modal-footer">
                        <button class="btn btn-success" type="button" ng-click="actionOnActivity(activity, 'complete')" ng-if="state.includes('root.user') && activity.status == 'Assigned'" data-dismiss="modal">Complete</button>
                        <button class="btn btn-danger" type="button" ng-click="actionOnActivity(activity, 'cancel')" ng-if="state.includes('root.user') && activity.status == 'Assigned'" data-dismiss="modal">Cancel</button>
                               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                             </div>
                           </div>
                           
                         </div>
                       </div>

                    </td>
                    <td>{{activity.date.format("MM-DD-YYYY")}}</td>
                    <td>{{activity.status}}
                        <img ng-src="{{imgSrc(activity.status)}}" title="{{activity.status}}">
                    </td>
                    <td>{{activity.value}}</td>
                    <td ng-if="state.includes('root.user')">
                        <div ng-if = "activity.status == 'Assigned'">
                        <button class="btn btn-success" type="button" ng-click="actionOnActivity(activity, 'complete')">Complete</button>
                        <button class="btn btn-danger" type="button" ng-click="actionOnActivity(activity, 'cancel')">Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>