 <div id="header-ers">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand">Hi, {{name}} (Role: {{role.charAt(0).toUpperCase() + role.slice(1)}})</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="role == 'user'"><a>Total Reward Points {{value}}</a></li>  
                <li> <button type="button" class="btn btn-info navbar-btn" ng-click ="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button></li>
            </ul>
         </div>
      </div>
</nav>
</div>