 <div id="header-ers">
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand">Hi, {{name}} ({{role}})</a>
         </div>
         <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="role == 'user'"><a>Total Reward Points {{value}}</a></li>
               <li><a ng-click ="logout()">Log Out</a></li>
            </ul>
         </div>
      </div>
</nav>
</div>