<div class="container-fluid">
   <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
         <ul class="nav nav-sidebar" ng-show="isActive('manager')">
            <li ng-class="{active: state.includes('tasks')}"><a ui-sref="tasks">Tasks</a></li>
            <li ng-class="{active: state.includes('newTask')}"><a ui-sref="newTask">New Task</a></li>
            <li ng-class="{active: state.includes('team') || state.includes('teamMember')}"><a ui-sref="team">Team</a></li>
         </ul>
         <ul class="nav nav-sidebar" ng-show="isActive('admin')">
            <li class="active"><a href="">Group of Activities</a></li>
            <li><a href="">Allot N Coins</a></li>
         </ul>
         <ul class="nav nav-sidebar" ng-show="isActive('user')">
            <li class="active"><a href="">View Tasks</a></li>
         </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
         <div ui-view></div>
      </div>
   </div>
</div>