<div class="container" ng-show="state.includes('root.teamMember')">
   
   <div class="row">
   <div class="col-md-6"><h3>Name: {{user.name}}</h3></div>
   <div class="col-md-6"><h3>Balance: {{user.value}}</h3></div>
   </div>

   <div class="row">
   <div class="col-md-6"><h3>Total Tasks: {{user.totalTasks}}</h3></div>
   <div class="col-md-6"><h3>Completed Tasks: {{user.completedTasks}}</h3></div>
   </div>

</div>

   <div class="row">
   <h2>Tasks </h2>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Task</th>
               <th>Date</th>
               <th>Status</th>
               <th>Value</th>
               <th ng-show="state.includes('root.tasks')">Approval Status</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="task in tasks | orderBy:'-date'" >
               <td>{{task.name}}</td>
               <td>{{task.date.format("MM-DD-YYYY")}}</td>
               <td>{{task.status}}
               <img ng-src="{{imgSrc(task.status)}}" height="20" width="20" title="{{task.status}}"></td>
               <td>{{task.value}}</td>
               <td ng-show="state.includes('root.tasks')">
               <button type="button" class="btn btn-success" ng-class="{disabled: task.status != 'Completed'}">Approve</button>
               <button type="button" class="btn btn-danger" ng-class="{disabled: task.status != 'Completed'}">Disapprove</button>
               </td>
                <td ng-show="state.includes('root.user')">
               <button type="button" class="btn btn-success" ng-class="{disabled: task.status == 'Completed' || task.status == 'Expired'}">Complete</button>
               <button type="button" class="btn btn-danger" ng-class="{disabled: task.status == 'Completed' || task.status == 'Expired'}">Reject</button>
               </td>
            </tr>
         </tbody>
      </table>
   </div>