<!-- <div class="container" ng-show="state.includes('root.team.user')">
   
   <div class="row">
   <div class="col-md-6">Name: {{user.name}}</div>
   <div class="col-md-6">Balance: {{user.value}}</div>
   </div>

   <div class="row">
   <div class="col-md-6">Total Tasks: {{user.totalTasks}}</div>
   <div class="col-md-6">Completed Tasks: {{user.completedTasks}}</div>
   </div>

</div>

   <div class="row">
   <h2>Tasks </h2>
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Task</th>
               <th>Date</th>
               <th>Status</th>
               <th>Value</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="task in tasks | orderBy:'-date'" >
               <td>{{task.name}}</td>
               <td>{{task.date.format("MM-DD-YYYY")}}</td>
               <td>{{task.status}}
               <img ng-src="{{imgSrc(task.status)}}" height="20" width="20" title="{{task.status}}"></td>
               <td>{{task.value}}</td>
            </tr>
         </tbody>
      </table>
   </div> -->