<div ng-include="'app/shared/view/header.html'"></div>
 
<div class="container-fluid">
      <div class="row">
         <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" ng-show="isActive('manager')">
               <li ng-class="{active: state.includes('root.activities')}"><a ui-sref="root.activities">Activities</a></li>
               <li ng-class="{active: state.includes('root.newActivity')}"><a ui-sref="root.newActivity">New Activity</a></li>
               <li ng-class="{active: state.includes('root.team') || state.includes('root.teamMember')}"><a ui-sref="root.team">Team</a></li>
            </ul>
            <ul class="nav nav-sidebar" ng-show="isActive('admin')">
               <li ng-class="{active: state.includes('root.authorizeActivity')}"><a ui-sref="root.authorizeActivity">Authorize Activity</a></li>
               <li ng-class="{active: state.includes('root.allotCoins')}"><a ui-sref="root.allotCoins">Allot N Coins</a></li>
            </ul>
            <ul class="nav nav-sidebar" ng-show="isActive('user')">
               <li class="active"><a href="">View Activities</a></li>
            </ul>
         </div>
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="content">
            <div ui-view></div>
         </div>
      </div>
   </div>