    <div class="col-md-12" style="margin-top:150px">
      
      <form ng-submit="formSubmit()" class="form">
        <div class="col-md-offset-4 col-md-4">
            <h2><b>Login to App</b></h2>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="Username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="Password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success">Login</button>
            <span class="text-danger">{{ error }}</span>
          </div>

        </div>
      </form>
</div>