<div class="row">
  <div class="col-md-6">
    <h2>Activities </h2>
    <div class="list-group">
      <ul style="padding:0px;max-height: 350px;overflow-y: scroll;">
        <li class="list-group-item" ng-repeat="activity in activities | orderBy: '-ncoin_qty'" ng-class="{active : activity.id == activeActivityId}" ng-click="activateActivity(activity.id)">
                    {{activity.act_name + " (Value: " + activity.ncoin_qty +")"}}
                </li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Members </h2>
    <div class="list-group">
      <ul style="padding:0px;max-height: 350px;overflow-y: scroll;">
        <li class="list-group-item new-members" ng-repeat='member in members' ng-class="{active : activeMemberIds.indexOf(member.id) > -1}" ng-click="activateMembers(member.id)">
                    {{member.name}}
                </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="text-align: center" ng-hide="isDisabled()">
  <h3>Activity Description</h3>
  <textarea rows="5" cols="100" ng-model="description" style="padding: 10px" placeholder="Enter activity description here"></textarea>
</div>
<br/>
<div class="row" style="text-align: center;margin-bottom: 30px">
  <button type="button" class="btn btn-lg btn-success" ng-click="assignActivity()" ng-disabled="isDisabled()" } ">Assign</button>
</div>