   <div class="row">
      <div class="col-md-6">
         <h2>Tasks </h2>
         <div class="list-group">
            <ul style="padding:0px;max-height: 400px;overflow-y: scroll;" >
               <li class="list-group-item new-tasks" id="{{task.id}}" ng-repeat="task in tasks | orderBy: '-value'" ng-class="{active : contains($event)}"  ng-click="modifylist($event)">
                  {{task.name + " (Value: " + task.value +")"}}
               </li>
            </ul>
         </div>
      </div>
      <div class="col-md-6">
         <h2>Members </h2>
         <div class="list-group">
            <ul style="padding:0px;max-height: 400px;overflow-y: scroll;">
               <li class="list-group-item new-members" id="{{member.id}}" ng-repeat='member in members' ng-class="{active : contains($event, member.id)}"  ng-click="modifylist($event, member)">
                  {{member.name}}
               </li>
            </ul>
         </div>
      </div>
   </div>
    <div class="row" style="text-align: center" ng-hide="buttonDisabled()">
        <h3>Task Description</h3>
        <textarea rows="5" cols="100">
        </textarea>
        </div>
    <br/>
   <div class="row" style="text-align: center">
         <button type="button" class="btn btn-lg btn-success" ng-click="assignTask()" ng-class="{disabled: buttonDisabled()}">Assign</button>
   </div>
